@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500|Playball');

// Colors
$purple: #37206e;
$darkGrey: #242424;
$lightGrey: #F7F7F7;
$inactiveLink: #b4b4b4;

// Fonts
$default: 'Dosis', sans-serif;
$display: 'Playball', cursive;