@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500|Kaushan+Script');

// Colors
$green: #556B2F;
$red: #BA362F;
$darkGrey: #3B3B3B;
$lightGrey: #F7F7F7;
$inactiveLink: #b4b4b4;

// Fonts
$default: 'Dosis', sans-serif;
$display: 'Kaushan Script', cursive;