@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500|Kaushan+Script');

// Colors
$tan: #f8e9db;
$green: #556B2F;
$lightGreen: #9db96b;
$red: #BA362F;
$blue: #1f4277;
$lightBlue: #74a3e9;
$lightRed: #ffa29e;
$darkGrey: #242424;
$lightGrey: #F7F7F7;
$inactiveLink: #b4b4b4;

// Fonts
$default: 'Dosis', sans-serif;
$display: 'Kaushan Script', cursive;