@import './variables';

.menu {
    background: $darkGrey;
    padding-bottom: 4rem;
    .title {
        width: 100px;
        margin: 0 auto 4rem;
        .vertical_line {
            height: 50px;
            width: 1px;
            background: $lightGrey;
            margin: 0 auto 1rem;
            opacity: 0.2;
        }
        h1 {
            color: $lightGrey;
            opacity: 0.2;
            font-family: $display;
            font-weight: 300;
            text-align: center;
            font-size: 2.3rem;
            letter-spacing: 1px;
        }
    }
    .menu-categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        max-width: 900px;
        margin: 0 auto;
        .category {
            padding: 1rem;
            h3 {
                font-family: $display;
                margin-bottom: 2rem;
                font-size: 1.6rem;
                color: $lightGrey;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                font-weight: 400;
                div {
                    height: 1px;
                    width: 50px;
                    background: $lightGrey;
                    margin-left: 1rem;
                    opacity: 0.2;
                    width: 100%;
                }
            }
            .category-items {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2rem;
                grid-row-gap: 1rem;
                .item {
                    font-family: $default;
                    p {
                        margin-bottom: 0.5rem;
                        font-size: 1.3rem;
                        color: $lightGrey;
                        text-transform: capitalize;
                    }
                    span {
                        color: $lightGrey;
                        font-weight: 300;
                        color: #969696;
                        font-size: 0.9rem;
                        text-transform: lowercase;
                    }
                }
            }
        }
    }
    .download-menu {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            text-decoration: none;
            border: 1px solid #3f3f3f;
            color: #3f3f3f;
            padding: 0.5rem 1rem;
            transition: all 0.4s ease-in-out;
            letter-spacing: 1px;
            border-radius: 2rem;
            font-weight: 300;
            font-family: $default;
            letter-spacing: 1px;
            &:hover {
                background: #3f3f3f;
                color: $darkGrey;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .menu {
        .title {
            .vertical_line {

            }
            h1 {

            }
        }
        .menu-categories {
            .category {
                h3 {
                    div {

                    }
                }
                .category-items {
                    .item {
                        p {

                        }
                        span {

                        }
                    }
                }
            }
        }
        .download-menu {
            a {

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .menu {
        .title {
            .vertical_line {}

            h1 {}
        }

        .menu-categories {
            grid-template-columns: 1fr;
            padding: 0 2rem;
            .category {
                h3 {
                    div {}
                }

                .category-items {
                    .item {
                        p {}

                        span {}
                    }
                }
            }
        }

        .download-menu {
            a {}
        }
    }
}

@media screen and (max-width: 480px) {
    .menu {
        .title {
            .vertical_line {}

            h1 {}
        }

        .menu-categories {
            padding: 0 1rem;
            .category {
                padding: 0;
                h3 {
                    div {}
                }

                .category-items {
                    grid-template-columns: 1fr;
                    .item {
                        p {}

                        span {}
                    }
                }
            }
        }

        .download-menu {
            a {}
        }
    }
}